* {margin: 0px auto; padding: 0px;}
.except {
    background: #e5e5e5;
    width: 80%;
}
.exceptMessage{    
    color:red;
    font-size:20px;
    margin:50px;
    padding:50px 0;
    text-align:center;
}